
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>CAMT Movie Tickets</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <style>
    * {
      font-family: 'Prompt', sans-serif;
    }

    .row-name {
      display: inline-block;
      width: 60px;
    }

    .seat {
      display: inline-block;
      width: 44px;
      text-align: center;
      font-size: 24px;
    }

    a:link {
      text-decoration: none;
    }

    a:visited {
      text-decoration: none;
    }

    a:hover {
      text-decoration: none;
    }

    a:active {
      text-decoration: none;
    }
  </style>
</head>

<body>
  <div class="h3 justify-content-center mt-5" style="text-align: center;">เลือกที่นั่ง</div>

  <div class="container-fluid bg-white p-4" style="border: 0px solid red">
    

    <div class="container-fluid" style="margin-bottom: 80px">
      <div class="row mt-5">
        <div class="col-12 col-xl-9">
          <div class="row text-center">
            <div class="col">
              <span class="text-center bg-light" style="display: inline-block; width: 500px;">จอภาพยนตร์</span>
            </div>
          </div>

          
            
          
          
        </div>

        
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
</body>

</html>